/* Left blue card */
.left-info-card {
  background-color: #3c84f0;
  border-radius: 16px;
  padding: 40px;
  width: 100%;
  max-width: 600px;   
  min-height: 500px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
  margin-top: 20px;
  margin-left: 200px;
}

/* Make image centered */
.left-info-card img {
  margin: 0 auto;
}

.password-eye {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  z-index: 2;
  margin-bottom:10px ;
}

.password-eye:hover {
  color: #0d6efd;
}
